    iframe {
      width: clamp(400px, 100%, 560px);
      aspect-ratio: 16/9;
    }
    #contents {
      position: fixed;
      right: 8px; top: 8px;
      text-align: right;
    }
    #menu1 {
      list-style-type: none;
      margin: 0;
      padding: 12px;
      background: honeydew;
      border: 1px solid;
    }
    button { cursor: pointer; }
    li { margin: 8px 0; }
    xs { font-size: x-small; }
	.wide { display: none; }
	ul.bullets { list-style-type: none; }
@media screen and (min-width: 850px) {
    .wide { display: block; }
    #buton { display: none; }
    #menu1 { display: block; }
}
