    body {
        max-width: 640px;
        padding: 0 10px;
        margin: auto;
        font: 15px/1.4 sans-serif;
        background: #eee;
    }
    pre  {
        font-size: 13px;
        background: white;
        overflow-x: auto;
    }
    img  {
        max-width: min(540px, 100%);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .large  {
        max-width: 100%;
    }
    .center {
        text-align: center;
    }

