    body {
        max-width: 600px;
        min-width: 450px;
        margin: 0;
        font-size: 12px;
        font-family: arial, sans-serif;
    }
    body, th {
        background-color: #f9f4e8;
    }
    #div0, #div1 {
        background-color: cyan;
        min-height: 36px;
    }
    #out1, #out2, #out4, .item {
        font: 15px arial, sans-serif;
    }
    #out1, #out2, #out4 {
        margin-left: 8px;
    }
    .item {
        display: inline-block;
        color: black;
        cursor: pointer;
        background-color: hsl(240, 100%, 95%);
        margin: 4px 2px;
        border: 1px solid;
        padding: 6px;
    }
    .item:hover { 
        background-color: hsl(240, 100%, 85%);
    }
    select, li, #out3 {
        font: 18px me_quran, serif;
        line-height: 1.5;
        margin-right: 4px;
        padding-right: 4px;
        color: blue;
    }
    button {
        min-width: 36px;
        height: 36px;
        cursor: pointer;
        font: inherit;
    }
    table { 
        background-color: white;
    }
    li {
        margin: 12px 0;
        padding: 3px 6px;
        list-style: none;
    }
    li span {
        position: relative;
    }
    table {
        border-collapse: collapse; 
        text-align: center;
        cursor: default;
        margin: 8px;
    }
    tr.first { height: 18px; }
    th { 
        color: black;
        font-weight: normal;
    }
    td {
        border: 0.5px solid black; 
        font-size: 15px;
    }
    td {
        box-sizing: border-box;
        width: 4.5vw;
        height: 4.5vw;
        padding: 2px;
        position: relative;
    }
    td:hover { 
        border: 4px solid brown;
    }
@media screen and (max-width: 460px) {
    td  { width: 20px; height: 20px;}
}
@media screen and (min-width: 590px) {
    td  { width: 26px; height: 26px;}
}
    button:hover .t1 { 
        display: block; 
    }
    span .t1 {
        display: none;
        cursor: pointer;
    }
    #bilgi {
        display: none;
        position: absolute;
        width: 180px;
        z-index: 1; /* on top of other cells */
        top: 18px;
        text-align: center;
    }
    .t1, .t2 {
        font: 12px/1.6 sansserif, arial;
        padding: 5px;
        cursor: pointer;
        border: black 1px solid;
        color: black;
    }
    .t1 {
        background-color: #eee;
    }
    .t2, #showS, #combine {
        background-color: #ff7;
    }
	@font-face {
	  font-family: me_quran;
	  src: url(../image/me_quran.ttf)
	}
	
	/* Menu Style */
    .menu {
      box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
      position: fixed;
      display: none;
      border: black 1px solid;
      /* text-align: center; */
      color: blue;
      background-color: #eee;
      font: 13px sansserif, arial;
      user-select: none;
      z-index: 1;
    }
    .menuK {
      display: block;
      padding: 10px;
    }
    .menuK:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    .black {
      margin-top: 8px;
      color: black;
      text-align: center;
    }
  #noteBox {
    border: 6px solid gray;
    padding: 6px;
    position: fixed;
    left: 8px;
    bottom: 32px;
    width: 300px;
    height: 200px;
    resize: none;
    z-index: 2;
  }
  #noteBut {
    min-width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(../image/add.png);
    background-size: contain;
    border: none;
  }
  .sajda {
    background-color: transparent;
    background-image: url(../image/sajda.png);
    background-size: contain;
  }
  