html { overscroll-behavior: contain }
body { 
  margin: 0;
  background-color: #59b;
}

@media screen and (max-width: 850px) {
    .hiddenNarrow { display: none; }
    #vers2, #zoomA { display: none; }
    #text { 
      font-size: 3.3vw;
      font-size: min(max(3.3vw, 13px), 20px);
    }
    #html, #bilgi { 
      font-size: 4.5vw;
      font-size: min(max(4.5vw, 19px), 27px);
    }
}

@media screen and (min-width: 851px) {
    .zoomWide { 
      transform: scale(1.16) translate(0, 8%);
    }
    #vers2 {
      margin: 0;
      font-size: 15px;
      display: inline-block;
    }
    #tranB { display: none; }
    #text, #html {
      width: 400px; 
      display: inline-block;
      vertical-align: middle;
      border: black 1px solid;
    }
    #text { 
      font-size: 14px;
    }
    #html, #bilgi { 
      font-size: 19px;
    }
}

@media screen and (min-width: 400px) {
    #div3 {
      justify-content: center;
    }
    .center { 
      text-align: center;
    }
}
/** common to all screens **/
    button {
      min-width: 36px;
      height: 36px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 50%;
    }
    #sureS, #pageA {
      display: inline-block;
      height: 26px;
      margin: 0 2px;
      padding: 4px;
      background-color: #eee;
      border-radius: 10px;
      border: none;
      font-size: 15px;
    }
    #pgNum {
      width: 50px;
      margin-top: 6px;
    }
    #bilgi { 
      display: none;
      user-select: none;
      position: absolute;
      min-width: 95px;
      max-width: 200px;
      padding: 4px;
      text-align: center;
      color: blue;
      background-color: #ff7;
      border: black 1px solid;
      cursor: pointer;
      z-index: 1;
    }
    #bilgi div {
      display: inline-block;
      padding: 8px;
    }
    nav { /* #div1, #div3 */
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      user-select: none;
    }
    #div1 {
      justify-content: center;
      width: 98%;
      position: fixed;
      bottom: 4px;
    }
    #div0 {
      height: 36px;
      background-color: #59b;
    }
    #div2 {
      min-height: calc(98vh - 36px);
    }
  @media screen and (max-height: 420px) {
      #div1 { position: relative; }
      #div0 { height: 14px; }
  }
    #text, #html {
      background-color: #f9f4e8;
      padding: 4px 8px;
      vertical-align: top;
      max-width: 590px;
    }
    #text { 
      text-align: left;
      line-height: 1.25;
    }
    #html { 
      text-align: justify;
      direction: rtl;
    }
    #text, #div3, #infoS { 
      font-family: sansserif, arial;
    }
    #html, #bilgi { 
      font-family: Zekr, serif;
      line-height: 1.9;
    }
    #infoS { 
      display: none;
      user-select: none;
      font-size: 14px;
      background-color: #ff7;
      color: blue;
      text-align: center;
      padding: 5px 5px;
      position: fixed;
      border: black 1px solid;
      z-index: 1;
      left: 40vw; 
      bottom: 90px;
      min-width: 160px;
    }
    #slider {
      position: relative;
      width: 70%;
      max-width: 604px;
      margin: 0;
    }
    input[type="range" i] { /* added by A Rajab */
      -webkit-appearance: none;
      background: rgba(113, 171, 181, 0.3);
      outline-color:#59b;
      cursor: pointer;
    }
    
    .divider { 
      height: 50px;
      margin-top: 8px;
      background-image: url(../image/sura.png);
      background-repeat: no-repeat;
      background-size: 100% auto;
      line-height: 42px;
    }
    .besmele { 
      line-height: 1.5;
    }
    .divider, .besmele, .ayetno { 
      text-align: center;
      color: #82672D;
    }
    .mavi { 
      color: blue;
    }
    .gri { 
      background-color : #bbb;
    }
    .sari { 
      background-color : #ff66;
      border-radius: 25px;
    }
    .yesil { 
      background-color : #dcd6;
    }
    .checked { 
      background-color : #ff7;
      border: 1px solid brown;
    }
    ::selection {
      color: yellow; 
      background-color: blue;
    }
	@font-face {
	  font-family: me_quran;
	  src: url(../image/me_quran.ttf)
	}
  @font-face {
    font-family: Zekr;
    src: url("/Rehber/style/ZEKRQURAN.TTF");
  }
  @font-face {
    font-family: ZekrBold;
    src: url("/Rehber/style/ZEKRQURANBOLD.TTF");
  }

  .large {
    font-size: large;
  }
  #bkgd {
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgba(136, 136, 136, 0.6);
    z-index: 5;
  }
  .dialog {
    width: 170px;
    padding: 20px;
    display: block;
    margin: 40px auto;
    background: white;
    border: 5px double orange;
  }
  pre {
    text-align: left;
    /* font-size: smaller; */
  }

/* Menu Style
  Ref: https://dev.to/iamafro/how-to-create-a-custom-context-menu--5d7p
*/
    .menu {
      display: none;
      position: absolute;
      text-align: left;
      border: black 1px solid;
      color: blue;
      background-color: #eee;
      font: 13px sansserif, arial;
      user-select: none;
      overflow-y: auto;
      max-height: 90vh; /* for overflow */
      box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .black {
      text-align: center;
      margin-top: 8px;
      color: black;
      cursor: default;
    }
    .black, .menuK {
      display: block;
      padding: 10px;
    }
    .menuC {
      display: inline-block;
      padding: 10px 12px;
    }
    img:hover, .menuC:hover, .menuK:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    #menuS {
      min-width: 130px;
      left: 130px;
      top: 0px;
    }
    .hidden { display: none; }

/*  CSS Speech Bubble with Border
  https://codeconvey.com/css-speech-bubble-with-border/ 
*/
    .bubble {
      padding-top: 8px;
    }
    .bubble:before {
      border: 8px solid transparent;
      border-bottom-color: gray;
      content: '';
      position: absolute;
      top: -8px;
      left: 48%;
    }

/* End of menu style */

/* Icons made by 
<a href=https://www.flaticon.com/authors/kiranshastry>Kiranshastry</a> 
from <a href=https://www.flaticon.com/>www.flaticon.com</a>
*/
img { width: 32px; }
button {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: Transparent;
    border: none;
}
#bilgi div:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#starA {
    background-image: url(../image/star.png);
}
#tranA {
    background-image: url(../image/Tee.png);
}
#linkA {
    background-image: url(../image/menu.png);
}
#zoomA {
    background-image: url(../image/zoom.png);
}

/* CSS triangles using transparent border
* https://css-tricks.com/snippets/css/css-triangle/
*/
#rightB, #leftB {
  margin: 0 6px;
  display: inline-block;
  width: 0; height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer;
}
#rightB {
  border-left: 20px solid #0003;
}
#leftB {
  border-right: 20px solid #0003; 
}

#noteBox {
  border: 6px solid gray;
  padding: 6px;
  position: fixed;
  right: 20px;
  bottom: 32px;
  width: 300px;
  height: 200px;
  resize: none;
}
#noteBut {
  min-width: 22px;
  height: 22px;
  border-radius: 0;
  background-image: url(../image/add.png);
  background-size: contain;
  border: none;
}
