* { box-sizing: border-box; }
html { overscroll-behavior: contain }
body { 
  margin: 0;
  background-color: #59b;
}

@media screen and (max-width: 850px) {
    .hiddenNarrow { display: none; }
    #vers2, #zoomA { display: none; }
    #text { 
      font-size: 3.3vw;
      font-size: min(max(3.3vw, 13px), 20px);
    }
    #html, #bilgi, .Kufi { 
      font-size: 4.5vw;
      font-size: min(max(4.5vw, 19px), 27px);
    }
}

@media screen and (min-width: 851px) {
    .zoomWide { 
      transform: scale(1.16) translate(0, 8%);
    }
    #vers2 {
      margin: 0;
      font-size: 15px;
      display: inline-block;
    }
    #tranB { display: none; }
    #text, #html {
      width: 400px; 
      display: inline-block;
      vertical-align: middle;
      border: black 1px solid;
    }
    #text { 
      font-size: 14px;
    }
    #html, #bilgi, .Kufi { 
      font-size: 19px;
    }
}

/** common to all screens **/
    #div3 {
      justify-content: center;
    }
    .center { 
      text-align: center;
    }
    nav>button {
      min-width: 36px;
      height: 36px;
      cursor: pointer;
      font-size: 16px;
      background-color: transparent;
    }
    nav>input {
      width: 125px;
    }
    select, nav>input, #pageA {
      display: inline-block;
      height: 26px;
      margin: 0 2px;
      padding: 4px;
      font-size: 14px;
    }
    select, nav>input, nav>button {
      border-radius: 10px;
      border: none;
    }
    #pgNum {
      width: 50px;
      font-size: large;
    }
    #wordMenu {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      width: 200px;
    }
    #menuC {
      position: static;
      width: inherit;
    }
    #menuC span {
      display: inline-block;
      width: 63px;
    }
    #wordInfo {
      width: inherit;
      border-top: none;
    }
    #wordInfo span {
      display: inline-block;
      width: 90px;
    }
    #verseMenu { 
      position: absolute;
      display: flex;
      flex-wrap: wrap;
    }
    #menuV {
      position: static;
    }
    .info {
      text-align: center;
      background-color: #ff7;
      border: 1px solid;
      z-index: 1;
    }
    #bilgi {
      color: blue;
    }
    .info span {
      display: block;
      padding: 8px 12px;
    }
    .plainSmall {
      font: 13px sans-serif;
    }
    #simInfo {
      width: 70px;
      border-left: none;
    }
    #similar {
      padding-block: 8px;
      color: black;
    }
    #simiList {
      color: blue;
      cursor: pointer;
    }
    .boldText {
      font: bold 14px serif;
    }
    #varInfo {
      padding: 6px;
      background: lightgrey;
      text-align: center;
      width: inherit;
      border: 1px solid;
      border-top: none;
      cursor: default;
    }
    #varInfo span {
      display: block;
      margin: 3px;
    }
    nav {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      user-select: none;
    }
    #div1 {
      justify-content: center;
      width: 100%;
      position: fixed;
      bottom: 0;
      padding-bottom: 4px;
    }
    #div0 {
      height: 36px;
      background-color: #59b;
    }
    #div2 {
      min-height: calc(98vh - 36px);
    }
  @media screen and (max-height: 420px) {
      #div1 { position: relative; }
      #div0 { height: 14px; }
  }
    #text, #html {
      padding: 4px 8px;
      vertical-align: top;
      max-width: 590px;
      margin: auto;
    }
    #text { 
      text-align: left;
      line-height: 1.25;
    }
    #html { 
      text-align: justify;
      direction: rtl;
    }
    #text, #div3, #infoS { 
      font-family: sans-serif, arial;
    }
    #bilgi {
      cursor: pointer;
    }
    #html, #bilgi {
      font-family: Zekr, serif;
      line-height: 1.87;
    }
    .Kufi {
      font-family: Kufi, serif;
      line-height: 1.87;
    }
    #search {
      transform: scaleX(-1);
      display: inline-block;
    }
    #infoS { 
      display: none;
      user-select: none;
      font-size: 14px;
      background-color: #ff7;
      color: blue;
      text-align: center;
      padding: 5px 5px;
      position: fixed;
      border: black 1px solid;
      z-index: 1;
      bottom: 90px;
      min-width: 160px;
    }
    #slider {
      position: relative;
      width: 70%;
      max-width: 604px;
      margin: 0 12px;
    }
    input[type="range" i] { /* added by A Rajab */
      /* -webkit-*/ appearance: none;
      background: rgba(113, 171, 181, 0.3);
      outline-color:#59b;
      cursor: pointer;
    }
    
    .divider { 
      height: 50px;
      margin-top: 8px;
      background-image: url(../image/sura.png);
      background-repeat: no-repeat;
      background-size: 100% auto;
      line-height: 42px;
    }
    .besmele { 
      line-height: 1.5;
    }
    .night {
      color: white !important;
      background-color: black !important;
    }
    .paper {
      background-color: #f9f4e8;
    }
    .divider, .besmele, .variant { 
      text-align: center;
      color: #c85;
    }
    .variant { 
      font-weight: bold;
    }
    .ayetno { 
      color: gray;
    }
    .mavi { 
      color: #88f;
    }
    .mavi[id] {
      font-weight: bold;
    }
    .beyaz { 
      background-color : #eee;
    }
    .gri { 
      background-color : #bbb;
    }
    .sari { 
      background-color : #ff66;
      border-radius: 25px;
    }
    .yesil { 
      background-color : #dcd6;
    }
    .checked { 
      background-color : #ff7a;
      border: 1px solid brown;
    }
    ::selection {
      color: yellow; 
      background-color: blue;
    }
	@font-face {
	  font-family: me_quran;
	  src: url(../image/me_quran.ttf)
	}
  @font-face {
    font-family: Kufi;
    src:url("../image/MushafFontu.ttf");
  }
  @font-face {
    font-family: Zekr;
    src: url("/Rehber/style/ZEKRQURAN.TTF");
  }
  @font-face {
    font-family: ZekrBold;
    src: url("/Rehber/style/ZEKRQURANBOLD.TTF");
  }

  .large {
    font-size: large;
  }
  #bkgd {
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgba(136, 136, 136, 0.6);
    z-index: 5;
  }
  .dialog {
    width: 330px;
    padding: 14px;
    display: block;
    margin: 40px auto;
    background: white;
    border: 5px double orange;
    font: 14px sans-serif, arial;
  }
  .dialog input {
    margin-top: 6px;
  }
  .dialog span.large {
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
  }
  .long { width: 98%; max-width: 350px; }
  .short { width: 130px; }
  .yellow { background: #ff7; }
  .white { background: white; }
  .small { font-size: smaller; }
  .expert { color: red; }
  #recog0 {
    min-width: initial;
    padding: 0;
  }
  pre {
    margin: 0;
  }

/* Menu Style
  Ref: https://dev.to/iamafro/how-to-create-a-custom-context-menu--5d7p
*/
    .menu {
      position: absolute;
      text-align: left;
      border: black 1px solid;
      color: blue;
      background-color: #eee;
      font: 13px sans-serif, arial;
      cursor: pointer;
      user-select: none;
      overflow-y: auto;
      max-height: 90vh; /* for overflow */
      z-index: 1;
    }
    .black {
      text-align: center;
      margin-top: 8px;
      color: black;
      cursor: default;
    }
    .black, .menuK {
      display: block;
      padding: 8px 14px;
    }
    .hareke:hover, .menuK:hover,
    #simiList span:hover, #bilgi:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    #menuS {
      min-width: 130px;
      left: 130px;
      top: 0px;
    }
    .hidden { display: none; }

/*  CSS Speech Bubble with Border
  https://codeconvey.com/css-speech-bubble-with-border/ 
*/
    .bubble {
      padding-top: 8px;
      min-width: 102px;
      box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    }
    .bubble:before {
      border: 8px solid transparent;
      border-bottom-color: gray;
      content: '';
      position: absolute;
      top: -8px;
      left: 48%;
    }

/* End of menu style */

/* Icons are unicode chars */
.huge {
    font-size: 30px;
}
#starA .huge {
    position: relative;
    top: -5px;
}
#tranA {
    font-weight: bold;
    font-size: 24px;
}
#linkA {
    font-weight: bold;
    font-size: 28px;
}
#zoomA {
    font-size: 20px;
}
.tiny { font-size: 14px; }

/* CSS triangles using transparent border
* https://css-tricks.com/snippets/css/css-triangle/
*/
.rightArrow, .leftArrow {
  margin: 0;
  display: inline-block;
  width: 0; height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer;
}
.rightArrow {
  border-left: 20px solid #06f;
}
.leftArrow {
  border-right: 20px solid #06f; 
}

#noteBox {
  border: 6px solid gray;
  padding: 6px;
  position: fixed;
  right: 20px;
  bottom: 32px;
  width: 300px;
  height: 200px;
  resize: none;
}
#noteBut {
  min-width: 22px;
  height: 22px;
  border-radius: 0;
  background-image: url(../image/add.png);
  background-size: contain;
  border: none;
}
@media screen and (max-width: 470px) {
  #leftS, #rightS {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  #cuzS, #search {
    display: none;
  }
}
.dialog #info2 {
  font-family: Zekr, serif;
}
.dialog button {
  border: 2px solid gray;
  border-radius: 5px;
}
.hareke {
  display: inline-block;
  width: 35px; height: 35px;
  padding: 2px 5px;
  background-size: contain;
  background-repeat: no-repeat;
}
#hare1 {
  background-image: url(../image/hareke1.png);
}
#hare2 {
  background-image: url(../image/hareke2.png);
}
#hare3 {
  background-image: url(../image/hareke3.png);
}
#vrnt1 {
  background-image: url(../image/variant1.png);
}
#vrnt2 {
  background-image: url(../image/variant2.png);
}
#vrnt3 {
  background-image: url(../image/variant3.png);
}
.version {
  padding-block: 0;
  display: flex;
  align-items: center;
}
#add2hs {
  background-image: url(../image/install.png);
  cursor: pointer;
}
